<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bulldogbolt">

<arg name="robot_name" default="bulldogbolt" />

<!-- Necessary includes: Properties -->
<xacro:include filename="$(find mir_vehicle_description)/urdf/bulldogbolt/properties.urdf.xacro"/>

<!-- Necessary includes -->
<xacro:include filename="$(find mir_vehicle_description)/urdf/bulldogbolt/structure.urdf.xacro" />

<!-- Bolt-on sensors go here -->
<xacro:include filename="$(find mir_vehicle_description)/urdf/$(arg robot_name)/sensors.urdf.xacro" />

<xacro:include filename="$(find mir_vehicle_description)/urdf/mir_vehicle_gazebo.urdf.xacro" />


</robot>
