<?xml version="1.0"?>

<launch>

<arg name="robot_name" default="bulldogbolt"/>

<arg name="paused" default="false"/>
<arg name="use_sim_time" default="true"/>
<arg name="gui" default="false"/>
<arg name="debug" default="false"/>
<arg name="headless" default="false"/>

<!-- change these defaults here, or as a cmd line arg, in order to turn off   -->
<!--   sensors that you aren't using, thus freeing up computational resources -->
<!--   and reducing storage space for your bagfiles -->
<arg name="front_laser_points" default="true"/>
<arg name="velodyne_points" default="true"/>
<arg name="camera_right" default="true"/>
<arg name="camera_left" default="true"/>
<!-- change these defaults here, to see further left with the velodyne   -->
<arg name="velodyne_max_angle" default="0.4"/>
<!-- change these defaults here, to see further right with the velodyne   -->
<arg name="velodyne_min_angle" default="-0.4"/>

<!-- WORLD -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mir_vehicle_gazebo)/worlds/autodrive.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
</include>

<!-- ROBOT -->
<group ns="$(arg robot_name)"> <!--"mir_vehicle"-->
    <!-- Convert an xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mir_vehicle_description)/urdf/$(arg robot_name)/main.urdf.xacro robot_name:='$(arg robot_name)' front_laser_points:='$(arg front_laser_points)' velodyne_points:='$(arg velodyne_points)' camera_right:='$(arg camera_right)' camera_left:='$(arg camera_left)' velodyne_max_angle:='$(arg velodyne_max_angle)' velodyne_min_angle:='$(arg velodyne_min_angle)'" />
    
    <!-- Spawn a robot into Gazebo -->
    <include file="$(find mir_vehicle_gazebo)/launch/mir_vehicle.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="init_pose" value="-x -27 -y -27.5 -z 0"/>
        <arg name="config_file" value="$(arg robot_name)_control.yaml"/>
    </include>

</group>


</launch>
